/* Body, typography and containers */
body {
    font-family: Roboto,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}
.markdown-section {
    padding-top: 5px;
    max-width: 940px;
}

/* Sidebar Logo */
.app-name-link img {
    padding: 24px 36px;
}

/* Navbar menu */
.app-nav li ul {
    border-radius: 0;
    padding: 0;
}
.app-nav ul li>p {
    font-size: 16px;
}

/* Headings */
.markdown-section h1 {
    border-bottom: 2px solid #298596;
}
.markdown-section h1 a>span {
    color: #01295c;
}
.markdown-section h1 a:hover {
    color: #01295c;
    text-decoration: none;
    cursor: pointer;
}
.markdown-section .anchor span {
    color: #01295c;
}

/* Tabs */
.docsify-tabs__tab {
    border: none;
    cursor: pointer;
}
.docsify-tabs__tab.docsify-tabs__tab--active {
    box-shadow: none;
    border-bottom: 3px solid var(--docsifytabs-tab-highlight-color);
}

/* Sidebar */
.sidebar ul li a,
.sidebar ul li p {
    font-size: 16px;
    font-weight: 600;
}
.sidebar ul li ul a,
.sidebar ul li ul p {
    font-size: 14px;
    font-weight: 400;
}
.sidebar ul li.active > a {
    border-right: 4px solid;
}
.sidebar ul li ul {
    margin-bottom: 20px;
}
.sidebar ul li .emoji {
    font-size: 1rem;
}
